spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/postgres
    username: demo_user
    password: demo_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

    flyway:
      enabled: true
      locations: classpath:db/migration
      baseline-on-migrate: true
